<div class="mailer" style="border: 1px solid black; padding: 10px; margin: 30px 100px; text-align: center">
<%= image_tag attachments['logo3.png'].url, :width => "100px", "max-height" => "50px"  %>
  <div class="full-height scroll-bar">
    <%= render "orders/current_order" %>
  </div>
  <p>Thanks for choosing <%= link_to "DinnerDash Cafe", root_path %></p>
</div>
