<div class="mailer">
  <%= image_tag("logo3.png", :alt => "logo", :class => "img-logo") %>
  <h1><%= "Dear #{@user.first_name}," %>
  <p>You have successfully signed up to dinnerdashcafe.com</p>
  <p>Thanks for joining and have a great day!</p> 
</div>