<header>

		<ul id="dropdown1" class="dropdown-content">
		  <li><a href="#!">one</a></li>
		  <li><a href="#!">two</a></li>
		  <li class="divider"></li>
		  <li><a href="#!">three</a></li>
		</ul>
		<nav>
		  <div class="nav-wrapper">
		    <a href="#!" class="brand-logo">Logo</a>
		    <ul class="right hide-on-med-and-down">

        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li
					
		      <li><a href="sass.html">Sass</a></li>
		      <li><a href="badges.html">Components</a></li>
		      <!-- Dropdown Trigger -->
		      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
		    </ul>
		  </div>
		</nav>
	</div>
</header>
