<div class="row">
  <div class="col s12 m5 l5 flow-text">
    <h3>Welcome!!!</h3>

    <p>Dinner Dash’s story began in 2015 with a clear and unique vision of the future of fast food.</p>

    <p>Since our humble beginnings as an Andelan-Team run eatery, Dinner Dash has been able to maintain our individuality and creativity</p>

    <p>Bon apetite!<p>
  </div>

  <div class="col s12 m7 l7">
    <%= render 'layouts/home_slider' %>
  </div>
</div>
