<div class="row full-height">
 <%=render 'layouts/dashboard_menu' %>
 <div class="col s10 full-height scroll-bar">
    <div id="show">
      <%= render "administrator/orders" %>
    </div>
 </div>
</div>
</div>