<div class="parallax-container side-margin">
	<div class="parallax">
    <%= render 'layouts/home_slider' %></div>
</div>
<div class="section white">
	<div class="row container">
			<div class="caption left-align">
				<h3 class="header">Let's make you happy . . .</h3>
				<div class="grey-text text-darken-3 lighten-3">
					<p>Dinner Dash’s story began in 2005 with a clear and unique vision of the future of fast food.</p>

					<p>Since our humble beginnings as an Andelan-Team run eatery in Toronto, Dinner Dash has been able to maintain our individuality and creativity, while growing into a unique healthy Nigerian fast food chain.</p>

					<p>Recognising the importance of healthy living, a love for flavour, and authenticity, Dinner Dash’s creation was by no means accidental.</p>

					<p>Our team takes great pride in offering customers a healthy alternative to both western fast food and Nigerian Cuisine.</p>

					<p>We hope you enjoy your Dinner Dash experience!<p>
				</div>
		  </div>
	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><%= image_tag "ribs.jpg" %></div>
		<div class="container caption right-align v-align ">
			<h2 class="light red-text text-darken-3">Don't take our word!</h2>
			<h4 class="light grey-text text-lighten-3"><p>The taste of the pudding is in the eating.</p> </h4>
		</div>
</div>
<div class="section white">
	<div class="row">
		<div class="row">

      <div class="col s4">
				<div class="center promo promo-example">
					<i class="material-icons">flash_on</i>
					<p class="promo-caption">Speedy Delivery Service</p>
					<p class="light center">We've been in this for a while now. Our network expands in ways that totally covers Nigeria, so you order gets to you in record time!</p>
				</div>
      </div>
      <div class="col s4">
				<div class="center promo promo-example">
          <i class="material-icons">group</i>
          <p class="promo-caption">Customer Experience Focused</p>
          <p class="light center">By utilizing lessons gained from our wealth of experience, we easily sieve out the unnecessary bargage so we can care better for your tummy.</p>
        </div>
      </div>
      <div class="col s4">
				<div class="center promo promo-example">
          <i class="material-icons">security</i>
          <p class="promo-caption">Your Hygiene, Our priority</p>
          <p class="light center">We partner with WHO, UNICEF, UNFPA, Dettol and other like-minded organizations to make sure we keep you in the best of health and diet.</p>
        </div>
      </div>

    </div>

	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><%= image_tag "shrimps.jpg" %></div>
		<div class="container caption center-align v-align">
			<h3 class="light red-text text-darken-3">Tasty Shrimps</h3>
			<h5 class="light grey-text text-lighten-3">We went to the Deepest ends of the Ocean to get you the Finest Shrimps</h5>
		</div>
</div>
<div class="section white">
	<div class="row container">
		<h4 class="header">Hours of operation</h4>
		<p class="grey-text text-darken-3 lighten-3">
			<ul class="collection">
				<li class="collection-item avatar">
					<i class="material-icons circle">folder</i>
					<span class="title">Monday - Friday</span>
					<p>6:30 am - 10:00 pm<br>
						 Full menu served with turbo courses and deserts
					</p>
					<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle green">insert_chart</i>
					<span class="title">Weekends</span>
					<p>9:00 am - 08:00 pm<br>
						 Chinese specials on demand. Pre-booked salamandas available 30 minutes to book time.
					</p>
					<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle red">play_arrow</i>
					<span class="title">Out-door functions and events</span>
					<p>Full Catering: Includes Chefs, waiters, table dressings and cutleries <br>
						 Partial catering: We take care of the food. Every other detail is circumverted.
					</p>
					<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
				</li>
			</ul>
		</p>

	</div>
</div>
<div class="parallax-container">
	<div class="parallax"><%= image_tag "ribs.jpg" %></div>
		<div class="container caption right-align v-align">
			<h1 class="light yellow-text text-darken-3">A unique experience</h1>
			<h3 class="light grey-text text-lighten-3">Get yourself a weekend treat after a long week of work. Our job is to make it memorable.</h3>
		</div>
</div>
