
<div class="flow-text">
  <h3>Welcome!!!</h3>

  <p>Dinner Dash’s story began in 2005 with a clear and unique vision of the future of fast food.</p>

  <p>Since our humble beginnings as an Andelan-Team run eatery in Toronto, Dinner Dash has been able to maintain our individuality and creativity, while growing into a unique healthy Nigerian fast food chain.</p>

  <p>Recognising the importance of healthy living, a love for flavour, and authenticity, Dinner Dash’s creation was by no means accidental.</p>

  <p>Our team takes great pride in offering customers a healthy alternative to both western fast food and Nigerian Cuisine.</p>

  <p>We hope you enjoy your Dinner Dash experience!<p>

</div>
