@import "materialize";

.item {
  margin: 20px !important;
  border-radius: 5px;
}

.profile_left_tab {
  border-right: 2px solid black;
  .card {
    text-align: center;
  }
}
.order_header {
  text-align: center;
}

.order-display.title li{
  display: inline-block;
  font-weight: bold;
}

.select_box {
  display: block !important;
}
