<div class="col s3 mini-pad">
  <ul id="slide-out" class="side-nav fixed rel">
    <% @categories = @categories.nil? ? Category.all : @categories %>
    <% @categories.each do |category| %>
      <li><%= link_to category.title, category_path(category) %></li>
    <% end %>
  </ul>
</div>